/* Normalize css */
@import-normalize;
/* Google fonts */
@import url("https://fonts.googleapis.com/css2?family=Noticia+Text:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Open+Sans:wght@300;400;700&display=swap");

body {
  margin: 0;
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}
/* Navbar */
.navbar-main {
  background-color: #ffffff !important;
}

.nav-link,
.header-title {
  color: #050505 !important;
}

a {
  text-decoration: none;
  color: White;
  font-weight: 600;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
}

a:hover,
a:active,
a:focus {
  text-decoration: underline;
}
/* FAS */
.fas:hover,
.fas:active,
.fas:focus {
  color: #4e6e58;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  font-family: "Lato", sans-serif;
  margin: 0.25em 0;
}

h5 {
  font-family: "Lato", sans-serif;
}

p,
a {
  font-family: "Open Sans", sans-serif;
}

h2 {
  font-family: "Lato", sans-serif;
}

ul {
  display: inline;
  text-decoration: none;
}

/* main Section */
.main {
  background-color: #cbd2d0;
}

.main-img {
  height: 315px;
}

.main-text {
  color: #4e6e58;
}
.main-btn {
  font-family: "Noticia Text";
  color: #050505;
  border-color: #256eff;
  background-color: #ffffff;
}

.main-btn:hover,
.main-btn:active,
.main-btn:focus {
  color: #fff;
  background-color: #256eff;
  border-color: #256eff;
}

/* Section 2 */
.m-4 {
  margin: 4.5rem !important;
}

.sub-text {
  color: #050505;
}
/* Cards */
.card {
  border: none;
  border-bottom-color: #4e6e58;
  border-bottom-style: double;
  border-bottom-width: medium;
}

.badge-img {
  width: 60%;
}
/* Rating */
.checked {
  color: #e0ca3c;
  font-size: large;
}
.rating-h {
  margin-bottom: 1em !important;
}

/* Carousel */
.testimonials {
  font-weight: bolder;
}
.testimonials h2 {
  display: inline-block;
  position: relative;
}

.testimonials h2::after {
  content: "";
  width: 60px;
  height: 3px;
  background: #4e6e58;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  bottom: -3px;
}
.carousel-img {
  height: 200px;
  width: 200px;
  opacity: 0.95;
}

.carousel-indicators li {
  background-color: white !important;
}

.card-text {
  padding-left: 30%;
  padding-right: 30%;
}

/* Contact Us */
.container-contact-us {
  background-image: url("./utilities/imgs/tools.png");
  height: 670px;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.contact-us-header {
  margin-bottom: 3em;
  padding-top: 5em;
  font-weight: bolder;
}

.container-contact-us-info {
  background: #eff1f1;
  border-radius: 2%;
  width: 70%;
}

.CU-logo {
  font-size: xx-large;
}

.CU-title {
  color: #4e6e58;
}

.CU-content {
  color: #050505;
  font-weight: bolder;
}
/* Footer */
.footer {
  flex-wrap: inherit;
}
.footer-h {
  color: #050505;
}

.footer-h-logo {
  margin-left: 1em;
}

.footer-img {
  margin-left: 5em;
}

.footer-logo-link {
  color: #050505 !important;
}

.fab:hover,
.fab:active,
.fab:focus {
  color: #256eef;
}

/* Map */
.img-map {
  width: 400px;
  height: 200px;
}

/* 404 and coming soon images */
.img-about-soon {
  max-width: 100%;
}

/* Modal */
.modal-content {
  background: #256eef;
  color: #ffffff !important;
}

.modal-phone {
  color: #ffffff !important;
}

.fac-modal:hover,
.fac-modal:active,
.fac-modal:focus {
  color: #4e6e58;
}
/* Media query     */
/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
  .main-img {
    height: 275px;
  }
  .img-map {
    width: 300px;
  }
  .card-text {
    padding-left: 0;
    padding-right: 0;
  }
  .container-contact-us {
    height: 900px;
  }
  .footer {
    flex-wrap: wrap;
  }
  .footer-logo,
  .text-end {
    text-align: center !important;
    justify-content: center !important;
  }
}
